body {
    background: #42275a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*
gradation => https://uigradients.com/
*/

#wrap {
    margin:30px;
    z-index:1;
}

#titleWord {
    color:#FFFFFF;
}

#rightTopBox {
    background-color:#F1A83B;
    width:70px;
    height:70px;
    position:fixed;
    top:0;
    right:0;
    border-radius:0px 0px 0px 10px;
    z-index:20;
}

.contentCard {
    background-color:#595279;
    width:100%;
    margin:0 auto;
    border-radius:5px;
    padding:10px;
}

.boxBar {
    margin-bottom:10px;
}

.white {
    color:#FFFFFF;
}

.stat {
    font-size:25px;
    font-weight:bold;
}

#footer {
    background-color:#553A61;
    position:fixed;
    bottom:0;
    width:100%;
    border-top:0.5px solid #eaeaea;
    z-index:10;
}

.footerBox {
    height:70px;
    line-height:70px;
    color:#FFFFFF;
}